.article{
  width: 950px;
  height: 400px;
  // background-color: yellow;
  margin: 0 auto;
  padding: 20px 50px;

}

.article input[type=text]{
  display: block;
  width: 100%;
  padding: 7px 13px;
  margin-bottom: 10px;
}
.article textarea{
  width: 100%;
  resize: none;
  padding: 7px 13px;
}
